name: Build Doom 3 Interpolated (Windows)

on:
  workflow_dispatch:

jobs:
  build-win:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install CMake
        uses: lukka/get-cmake@v3

      - name: Create build directory
        run: mkdir build

      - name: Configure
        working-directory: build
        run: cmake ../neo

      - name: Build
        working-directory: build
        run: cmake --build . --config Release

      - name: Upload build artifacts
        uses: actions/upload-artifact@v3
        with:
          name: doom3-interpolated-windows
          path: build/
