name: Build Doom 3 Interpolated (Windows)

on:
  workflow_dispatch:

jobs:
  build-win:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Create build directory
        run: mkdir build

      - name: Configure
        working-directory: build
        run: cmake -G "Visual Studio 17 2022" -A x64 `
          -DOPENAL_LIBRARY="C:/Windows/System32/OpenAL32.dll" `
          -DOPENAL_INCLUDE_DIR="C:/Windows/System32" `
          -DSDL2_LIBRARY="C:/Windows/System32/SDL2.dll" `
          -DSDL2_INCLUDE_DIR="C:/Windows/System32" ../neo

      - name: Build
        working-directory: build
        run: cmake --build . --config Release

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: doom3-interpolated-windows
          path: build/Release/
